<!doctype html>
<html lang="en" ng-app="tickets">
<head>
    <meta name="fragment" content="!">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <base href="<%= baseUrl %>"/>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-cookie.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/lib/angular/angular-ui-router.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/app/app.config.js"></script>

    <script src="js/app/ng-factories/httpFactory.js"></script>

    <script src="js/app/ng-controllers/homeController.js"></script>
    <script src="js/app/ng-controllers/usersController.js"></script>

</head>
<body>
    <ui-view></ui-view>
</body>
</html>